@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg: #202521;
    --green: #7BB194;
    --sudoku-bg: #DCECE3;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--green);
    width: 1.5rem;
    height: 100%;
}


.wrapper {
    padding: 4em 10em 4em 10em;
    margin: 0 auto;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7rem;
    margin-bottom: 3rem;
}

header h1 {
    color: white;
    font-weight: 700;
    font-size: 4rem;
    margin: .3em 0;
    line-height: 1em;
    text-align: left;
    white-space: nowrap;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

nav li:not(:last-child) {
    margin: 0 4rem 0 0;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    background-color: #313632;
    width: 100%;
    box-shadow: 0 0 3rem .5rem rgba(0, 0, 0, .1);
}

.content .left {
    background-color: var(--sudoku-bg);
    width: 33.5rem;
}

.content .divider {
    background-color: var(--green);
    width: 1rem;
}

table.sudoku {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.sudoku td {
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
    border-right: .1rem solid;
    font-weight: bold;
}

.sudoku tr td {
    border-bottom: .1rem solid;
}

.sudoku.size-3 td:nth-child(3n) {
    border-right: .2rem solid;
}

.sudoku.size-3 tr:nth-child(3n) td {
    border-bottom: .2rem solid;
}

.sudoku.size-2 td:nth-child(2n) {
    border-right: .2rem solid;
}

.sudoku.size-2 tr:nth-child(2n) td {
    border-bottom: .2rem solid;
}

.sudoku td:last-child {
    border-right: none !important;
}

.sudoku tr:last-child td {
    border-bottom: none !important;
}

.sudoku td input {
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0;
    background: transparent;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content .right {
    position: relative;
    margin: 3rem 6rem;
}

h2 {
    color: white;
    font-size: 3rem;
    height: 5rem;
    margin: 0 0 1rem 0;
    white-space: nowrap;
}

.option {
    margin-bottom: 1rem;
}

.import-option {
    min-height: 9rem;
}

.import-text-input {
    display: inline-block;
}

.description {
    display: flex;
    color: white;
    margin-bottom: 1rem;
    width: 30rem;
    min-height: 5.5rem;
}

.description p {
    margin: 0;
}

.description a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: .3rem;
    cursor: pointer;
}
.options, .descriptions {
    display: flex;
    flex-direction: column;
    height: 16.5rem;
    margin-bottom: 1rem;
}
.option-choices label {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.option-label {
    display: inline-block;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    height: 2rem;
}

.option-choices {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.option-choices li {
    float: left;
    margin: 1rem 1rem 0 0;
    width: 7rem;
    height: 2.5rem;
    position: relative;
    user-select: none;
}

.option-choices label, .option-choices input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.option-choices input[type="radio"] {
    display: none;
}

.option-choices input[type="radio"] + label {
    font-weight: normal;
    font-size: 1rem;
    background-color: #2A2E2A;
    border: none;
}

.option-choices input[type="radio"]:checked + label {
    font-weight: bold;
    background-color: #252826;
}

.option-choices label {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.import-text-input input {
    margin: 1rem 1rem 0 0;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: inherit;
    height: 40px;
    padding: .8rem;
    -webkit-appearance: none;
    background: #252826;
    font-family: 'Poppins', sans-serif;
}

.cta-button {
    background: none;
    color: white;
    border: .25rem solid white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    outline: inherit;
    padding: 1rem 2rem;
    bottom: 0;
    left: 0;
    height: 4rem;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}